<?xml version="1.0" encoding="utf-8"?>
<odoo>

<!-- This contains the tour assets. They are included during testing. -->
<template id="stock_app" name="APP">&lt;!DOCTYPE html&gt;
<html lang="">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
        <link rel="icon" href="/stock_vue/static/favicon.ico"></link>
    <title>lvue</title>
        <link rel="stylesheet" href="/stock_vue/static/style.css"></link>
    <script defer="defer" src="/stock_vue/static/js/chunk-vendors.6e4b69a9.js"></script>
    <script defer="defer" src="/stock_vue/static/js/app.7e59ce02.js"></script>
        <link href="/stock_vue/static/css/app.7bd743b8.css" rel="stylesheet"></link>
</head>
<body>
<noscript><strong>We're sorry but lvue doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div class="app" id="app"></div>
</body>
</html>

</template>

</odoo>
